params {
    input {
        reads = "/home/pedro/aesop/nf-training/data"
    }
    envs {
        training = "/home/pedro/aesop/nf-training/env/nf-training.yml"
    }
    index {
        bowtie = "/home/pedro/aesop/pipeline/databases/bowtie2_db/human_index_20240725/human_full"
        hammer_arg = "/home/pedro/aesop/nf-training/hmmer-profiles/args/191212-MB_Resfams.hmm"
        hammer_plastic = "/home/pedro/aesop/nf-training/hmmer-profiles/plastic/Plastic_Dataset_HMMs.hmm"
        hammer_cazymes = "/home/pedro/aesop/nf-training/hmmer-profiles/cazymes"
    }
    megahit {
        threads = "4"
        M = "0.6"
    }
}